<a href="{% url 'plugins:config_officer:running_config' hostname=device.name %}" class="btn btn-outline-info btn-sm">
    <i class="mdi mdi-console"></i> Show running config
</a>
<a href="{% url 'plugins:config_officer:collect_device_config' slug=device.name %}"
    class="btn btn-outline-primary btn-sm">
    <i class="mdi mdi-download-network"></i> Collect config
</a>
<a href="{% url 'plugins:config_officer:compliance' device=device.pk %}" class="btn btn-outline-secondary btn-sm">
    <i class="mdi mdi-check-decagram"></i> Compliance
</a>
