{% extends 'base/layout.html' %}

{% block title %}Collection Message{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="alert alert-info">
            <h4 class="alert-heading"><i class="mdi mdi-information-outline"></i> Status</h4>
            <p class="mb-0">{{ message }}</p>
        </div>
        <a href="{% url 'plugins:config_officer:collection_status' %}" class="btn btn-primary">
            <i class="mdi mdi-format-list-bulleted"></i> Collection status
        </a>
    </div>
</div>
{% endblock %}
