<nav aria-label="breadcrumb" class="mb-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            1. utwórz <a href="{% url 'plugins:config_officer:template_list' %}">szablon</a>
        </li>
        <li class="breadcrumb-item">
            2. utwórz <a href="{% url 'plugins:config_officer:service_list' %}">serwis/regułę</a>
        </li>
        <li class="breadcrumb-item">
            3. przypisz <a href="{% url 'plugins:config_officer:service_mapping_list' %}">serwis do urządzenia</a>
        </li>
    </ol>
</nav>