{% extends 'generic/object_list.html' %}

{% block title %}Compliance / Service mapping{% endblock %}

{% block extra_controls %}
<a href="{% url 'plugins:config_officer:service_mapping_list' %}?to_excel" class="btn btn-success">
    <i class="mdi mdi-microsoft-excel"></i> Export to Excel
</a>
{% endblock %}

{% block bulk_buttons %}
<button type="submit" name="_device" formaction="{% url 'plugins:config_officer:assign_service' %}"
    class="btn btn-success btn-sm">
    <i class="mdi mdi-link-variant"></i> Attach service
</button>
<button type="submit" name="_device" formaction="{% url 'plugins:config_officer:remove_assignment' %}"
    class="btn btn-warning btn-sm">
    <i class="mdi mdi-link-variant-off"></i> Detach service
</button>
{% endblock %}